# Build output, in the spellings the various toolchains produce.
/build/
/skidcfg
/skidcfg.exe
/SKIDCFG.EXE
/skidcfg-sc55
/selfcheck
/selfcheck.exe
/selfcheck-sc55
/selfcheck-min
/drvtab.bak
/SKIDCHK.EXE
*.o
*.obj
*.OBJ
*.map
*.MAP

/README.TXT
/LICENSE.TXT
/SKIDCF32.EXE
/SKIDCK32.EXE
/DOS32A.TXT
/SKIDCFW.EXE
/SKIDCKW.EXE
